includes:
	- ./.phpstan/parameters.general.neon
	- ./.phpstan/parameters.paths.neon
	- ./vendor/sweetchuck/composer-lock-diff/.phpstan/parameters.typeAliasesProd.neon
	- ./.phpstan/parameters.typeAliases.prod.neon
	- ./.phpstan/parameters.typeAliases.dev.neon
	- ./.phpstan/parameters.ignoreErrors.neon
